*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('image/book1.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.part1{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
	border: 4px solid black;
	border-radius: 200px;
	background-color: #BCFD7B;
}

.nav{
	float: right;
	margin-top: 60px;
}

.nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.nav li a{
	padding: 5px 0;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}

.nav li a:hover{
	border-bottom: 2px solid #7BD81E;
}

.content{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	color: white;
	font-size: 280%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn1{
	background-color: transparent;
	color: #7BD81E;
    margin-right: 50px;	
	border: 1px solid #7BD81E;
}

.btn2{
	background-color: transparent;
	color: white;
    margin-right: 50px;	
	border: 1px solid white;
}

.btn1:hover{
	background-color: white;
}


.btn2:hover{
	background-color: #7BD81E;
}

.colorchang{
	animation: colorchangdim 1s infinite;
}


@keyframes colorchangdim{
	0%{color: blue;}
	25%{color: white;}
	50%{color: #7BD81E;}
	100%{color: gray;}
}

.mobilenav{display: none;}


@media only screen and (max-width: 1180px){
	.content{
	width: 100%;
    padding: 0 2%;	
	}
}

@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
}

@media only screen and (max-width: 768px){
	h1{font-size: 180%;}
	.nav{display: none;}
	.logo{
	height: 65px;
	width: auto;
	float: left;
	margin-top: 20px;
	border: 4px solid black;
	border-radius: 200px;
	background-color: #BCFD7B;
	margin-left: 20px;
	}
	
    .mobilenav{
    display: inline-block; color: #7BD81E;
	float: right;
	margin-top: 30px;
	margin-right: 25px;
	}
	.log li{display: none;}
	footer{display: none;}
}


.nav li{
	float: left;
	display: block;
	margin-top: 10px;
}

@media only screen and (max-width: 320px){
	.btn2{margin-top: 10px;}
}

footer{
	background-color: gray;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}

.log li{
	float: right;
	list-style: none;
	margin-left: 100px;
	margin-top: 300px;
	
	
}

.all-logo1{
	height: 90px;
	margin-right: 500px;
	
}

.all-logo{
	height: 90px;
}

.contect{
	text-align: center;
	font-size: 60px;
}


.all-logo:hover{
	background-color: #BCFD7B;
	border: 5px solid black;
	border-radius: 20px;
}

.all-logo1:hover{
	background-color: #BCFD7B;
	border: 5px solid black;
	border-radius: 20px;
}

@media only screen and (max-width: 375px){
	.btn2{margin-top: 10px;}
}












